@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Epiloque', sans-serif;
  box-sizing: border-box;
  background-color: #FFEDE0; 
}



@media (max-width: 768px) {
  .flex-row {
    flex-direction: column;
  }

  .gap-28 {
    gap: 1rem;
  }

  .grid-cols-2 {
    grid-template-columns: 1fr;
  }

  .relative {
    width: 100%;
  }

  .h-33 {
    height: auto;
  }

  .w-97 {
    width: 100%;
  }

  .py-16 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
